
.top-part{
    color: white;
    .navbar-right{
       
            ul{
                
                a{
                    color: white;
                }
            }
        
    }
}


.img-text{
    button{
        background-color: transparent;
        border: 1px solid red;
        color: white;
    }
}