.main-part{
    .about-text{
        text-align: center;
        padding: 0px;
        font-size: larger;
        h1{
            font-size: 40px;
            padding: 30px;
        }
        p{
            font-size: large;
        }
    }
    .about-boxes{
        .fa-user{
            font-size: 30px;
        }
    }
}